@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #616668;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 8px;
    min-width: 320px;
    color: #a9efff;
}

@media screen and (min-width: 320px) {
    body {
        font-size: 6px;
    }
}

@media screen and (min-width: 425px) {
    body {
        font-size: 7px;
    }
}

@media screen and (min-width: 1000px) {
    body {
        font-size: 12px;
    }
}

h1 {
    color: #F1E8C4;
    font-size: 6em;
    margin-bottom: 0px;
}

.h1-first-letter {
    color: #DC412F;
}

h2 {
    color: #a9efff;
    font-style: italic;
    letter-spacing: 1.5px;
    font-size: 2em;
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.file-upload {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

.file-upload span {
    font-size: 4em;
}

a {
    color: #a9efff;
}

.upload-button {
    margin-top: 20px;
    width: 20em;
    height: 5em;
}

.floppy-drive {
    width: 20em;
    height: 8em;
}

*:focus {
    outline: none;
}
